@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
body{
    background-color: gray;
}
div.page{
    background-color: rgba(41, 12, 12, 0.116);
    margin: 30mm 45mm 30mm 45mm;
    min-width: 20.0cm;
    min-height: 28.7cm;
    padding: 30px;
}
img{
    height: 350px;
    padding-top: 3cm;
    float: left;
}
div.header{
    font-family: 'Alex Brush', cursive;
    position: absolute;
    padding-left: 15.5cm;
    font-size: 50px;
    font-weight: 700;
}
#first{
    padding-left: 10cm;
    padding-top: 140px;
}
div.small{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 21px;
}
div.big{
    font-size: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
}
#about{
    padding-left: 60px;
    display: inline-block;
    width: 25cm;
   
}
#this{
    margin-top: 270px;
    color: black;
    height: 3px;
}


ol#menu li{
    display: inline;
}

